.title {
    font-size: var(--title-3);
    margin-left: 12px;
    margin-bottom: 16px;
}

.item {
    --title-3: 1.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item:not(:last-child) {
    margin-bottom: 16px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.temp {
    font-size: var(--title-3);
}

.label {
    font-size: var(--label);
    color: var(--on-surface-variant-2);
    font-weight: var(--weight-semiBold);
}